{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie rating below</p>
<div class="container">
    <form method="get" action="/movies/search">
        <p>Movie Name</p>
        <input type="text" class="form-control" name="title">
        <br>
        <input type="submit" class="btn btn-primary"  value="Search Movies">

    {% if movie %}
        <h2 class="mt-5">Search Results</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.rating }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p class="mt-5">No movie found with that title.</p>
    {% endif %}
</div>
{% endblock %}